*,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.container {
  max-width: 1110px;
  width: 95%;
  margin: 0 auto;
}
header {
  height: 280px;
  background: url("../images/pattern-bg.png") center center/cover no-repeat;
}
header .container {
  position: relative;
}
header h1 {
  color: white;
  font-weight: 500;
  text-align: center;
  padding: 34px 0;
}
header form {
  max-width: 555px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header form input[type="text"] {
  width: 100%;
  height: 57.7px;
  font-size: 18px;
  padding: 0 24.5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  outline: none;
}
header form button {
  padding: 0 24.5px;
  background-color: black;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
header .ip_info {
  position: absolute;
  width: 100%;
  top: 200px;
  left: 0px;
  padding: 38px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  background: white;
  border-radius: 15px;
  z-index: 1000;
}
header .ip_info div {
  border-right: 1px solid lightgray;
  padding: 0px 30px;
}
header .ip_info div h6 {
  color: #969696;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}
header .ip_info div h2 {
  font-weight: 500;
}
header .ip_info div :last-child {
  border-right: none;
}
#map {
  width: 100%;
  height: calc(100vh - 280px);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
  header {
    height: 290px;
  }
  header .ip_info {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 0;
  }
  header .ip_info div h6 {
    margin-bottom: 10px;
  }
  header .ip_info div .ip_address,
  header .ip_info div .location {
    margin-bottom: 20px;
  }
  header .ip_info div:nth-child(2n) {
    border-right: none;
  }
  #map {
    height: calc(100vh - 290px);
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 310px;
  }
  header h1 {
    font-size: 26px;
    padding: 30px 0;
  }
  header form input[type="text"] {
    height: 50px;
  }
  header .ip_info {
    top: 160px;
    -ms-grid-columns: (1fr) [1];
    grid-template-columns: repeat(1, 1fr);
  }
  header .ip_info h6 {
    margin-bottom: 5px !important;
  }
  header .ip_info h2 {
    font-size: 22px;
  }
  header .ip_info .ip_address,
  header .ip_info .location,
  header .ip_info .timezone {
    margin-bottom: 20px;
  }
  header .ip_info div {
    border: none;
    text-align: center;
  }
  #map {
    height: calc(100vh - 310px);
  }
}
@media screen and (max-width: 460px) {
  header {
    height: 280px;
  }
  header h1 {
    font-size: 22px;
    padding: 20px 0;
  }
  header .ip_info {
    top: 130px;
  }
  #map {
    height: calc(100vh - 280px);
  }
}